<style lang="stylus" scoped>
    .map {
        height: 250px;
    }
</style>
<template>
    <div>
        <div class="row">
            <div :id="'locationField'+idElement" class="col-md-12">
                <div class="icon-addon">
                    <input :id="'autocomplete'+idElement" class="form-control" :placeholder="$t('companies.enterYourAddress')" @focus="geolocate()" type="text" />
                    <label class="fa fa-map-marker "></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <input class="form-control" v-model="street_number" :placeholder="$t('validation.attributes.streetNumber')" />
                    </div>
                    <div class="col-md-9">
                        <input class="form-control" v-model="route" :placeholder="$t('validation.attributes.street')" />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" v-model="locality" :placeholder="$t('validation.attributes.city')" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" v-model="administrative_area_level_1" :placeholder="$t('validation.attributes.state')" />
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" v-model="postal_code" :placeholder="$t('validation.attributes.zp')" />
                    </div>
                    <div class="col-md-12">
                        <input class="form-control" v-model="country" :placeholder="$t('validation.attributes.country')" />
                    </div>
                    <div class="col-md-12">
                        <br />
                        <button class="btn btn-primary pull-right" @click="saveAddress()">
                            <i class="fa fa-save"></i>
                            {{ $t('companies.updateAddress') }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div :id="idElement" class="map"></div>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
    export default{
        props: {
            lat: {
                type: Number,
                required: true,
            },
            lng: {
                type: Number,
                required: true,
            },
            zoom: {
                type: Number,
                required: true,
            },
            idElement: {
                type: String,
                required: true,
            },
            extraData: {
                type: Object,
            },
            actionVue: {
                type: String,
                required: true,
            }
        },
        data()
        {
            return {
                map: null,
                marker: null,
                autocomplete: null,
                componentForm:  {
                    street_number: 'short_name',
                    route: 'long_name',
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                },
                street_number: '',
                route: '',
                locality: '',
                administrative_area_level_1: '',
                postal_code: '',
                country: '',
                latitude: '',
                longitude: '',
            };
        },
        computed: {},
        mounted(){
            this.initAutocomplete();
        },
        methods: {
            initAutocomplete() {
                // Create the autocomplete object, restricting the search to geographical
                // location types.
                this.autocomplete = new google.maps.places.Autocomplete(
                    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete'+this.idElement)),
                    {types: ['geocode']});

                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                this.autocomplete.addListener('place_changed', () => {
                    this.fillInAddress();
                });

                //INIT MAP
                var myLatLng = {lat: this.lat, lng: this.lng};

                this.map = new google.maps.Map(document.getElementById(this.idElement), {
                    zoom: this.zoom,
                    center: myLatLng
                });

                this.marker = new google.maps.Marker({
                    position: myLatLng,
                    draggable: true,
                    map: this.map,
                    anchorPoint: new google.maps.Point(0, -29),
                    animation: google.maps.Animation.DROP
                });

                this.marker.addListener('dragend', (event) => {
                    this.latitude = event.latLng.lat();
                    this.longitude = event.latLng.lng();
                });
            },
            fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = this.autocomplete.getPlace();

                for (var component in this.componentForm) {
                    this[component] = '';
                }

                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                    var addressType = place.address_components[i].types[0];
                    if (this.componentForm[addressType]) {
                        var val = place.address_components[i][this.componentForm[addressType]];
                        this[addressType] = val;
                    }
                }
                this.map.setCenter(place.geometry.location);
                this.map.setZoom(this.zoom);  // Why 17? Because it looks good.

                this.marker.setPosition(place.geometry.location);
                this.marker.setVisible(true);

                this.latitude = place.geometry.location.lat();
                this.longitude = place.geometry.location.lng();
            },
            geolocate() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                        var geolocation = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        var circle = new google.maps.Circle({
                            center: geolocation,
                            radius: position.coords.accuracy
                        });
                        this.autocomplete.setBounds(circle.getBounds());
                    });
                }
            },
            saveAddress()
            {
                var params = Object.assign({});
                if (typeof this.extraData != 'undefined'){
                    params = Object.assign({}, this.extraData);
                }
                params['street_number'] = this.street_number;
                params['route'] = this.route;
                params['locality'] = this.locality;
                params['administrative_area_level_1'] = this.administrative_area_level_1;
                params['postal_code'] = this.postal_code;
                params['country'] = this.country;
                params['latitude'] = this.latitude;
                params['longitude'] = this.longitude;
                this.$store.dispatch(this.actionVue, params);
            },
        },
        components: {},
        directives: {}
    }
</script>