<style lang="stylus" scoped>

</style>
<template>
    <div>
        <div :id="idElement" :class="extraClass"></div>
        {{ markerSetPosition }}
    </div>
</template>
<script type="text/babel">
    export default{
        props: {
            lat: {
                type: Number,
                required: true,
            },
            lng: {
                type: Number,
                required: true,
            },
            zoom: {
                type: Number,
                required: true,
            },
            idElement: {
                type: String,
                required: true,
            },
            extraClass: {
                type: String,
            },
        },
        data(){
            return {
                map: null,
                marker: null,
            };
        },
        computed: {
            markerSetPosition()
            {
                if (this.marker != null) {
                    this.map.setCenter({lat: this.lat, lng: this.lng});
                    this.marker.setPosition({lat: this.lat, lng: this.lng});
                }
            },
        },
        mounted(){
            this.map = new google.maps.Map(document.getElementById(this.idElement), {
                zoom: this.zoom,
                //center: {lat: this.lat, lng: this.lng}
            });
            this.marker = new google.maps.Marker({
               // position: {lat: this.lat, lng: this.lng},
                map: this.map,
                anchorPoint: new google.maps.Point(0, -29),
            });
        },
        methods: {
        },
        components: {},
        directives: {}
    }
</script>