<style lang="stylus">
    .has-feedback-blue .help-block,
    {
        color: #74B3CE;
    }
</style>
<template>
    <div :class="hasHelps">
        <label :for="forInput" v-if="currentLabel">{{ currentLabel}}</label>
        <slot/>
        <div class="help-block" v-if="currentMessage">
            <i :class="iconStyle" aria-hidden="true"></i>
            <span>{{currentMessage}}</span>
        </div>
    </div>
</template>

<script type="text/babel">
  export default{
    props: [
      'helps',
      'forInput',
    ],
    data() {
      return {};
    },
    created() {
    },
    computed: {
      currentInput() {
        return this.helps[this.forInput];
      },
      hasHelps() {
        if (typeof this.currentInput !== 'undefined' && typeof this.currentInput.type !== 'undefined') {
          return {
            'form-group': true,
            'has-feedback': true,
            'has-error': this.currentInput.type === 'error',
            'has-feedback-blue': this.currentInput.type === 'info',
            'has-success': this.currentInput.type === 'success',
          };
        }
        return {
          'form-group': true,
          'has-feedback': true,
        };
      },
      currentLabel() {
        if (this.$i18n.te(`${this.forInput}.label`)) {
          return this.$i18n.t(`${this.forInput}.label`);
        }
        return false;
      },

      helpsCode() {
//Todo Fix when error is empty
        if (typeof this.currentInput !== 'undefined' && typeof this.currentInput.code !== 'undefined' ) {
          var defaultText = {
            'error': () => { return this.currentInput.code === false  ? '' : this.$i18n.t(`${this.forInput}.the_attribute`)+' '+this.$i18n.t(this.currentInput.code);},
            'info': () => { return this.$i18n.t(`${this.forInput}.${this.currentInput.code}`)},
            'success': () => { return this.$i18n.t(`${this.forInput}.${this.currentInput.code}`)},
          }
          var translatedText = false;
          _.each(this.currentInput.code,(attributes, validation)=> {
            attributes = _.split(attributes,',');
            var translateCode = `${this.forInput}.error.${validation}`;
            if ( this.$i18n.te(translateCode) ) {
              translatedText = translatedText !== false ? translatedText : this.$i18n.t(`${this.forInput}.the_attribute`);
              if(typeof attributes !== 'undefined'){
                translatedText += ', '+this.$i18n.t(translateCode,attributes);
              }
            }
          });
          return translatedText !== false ? translatedText : defaultText[this.currentInput.type]();
        }
        return false;
      },
      helpsMessage() {
        if (typeof this.currentInput !== 'undefined' && typeof this.currentInput.message !== 'undefined') {
          return this.currentInput.message;
        }
        return false;
      },
      currentMessage() {
        return  this.helpsCode ?  this.helpsCode : this.helpsMessage;
      },
      iconStyle() {
        if (typeof this.currentInput.type !== 'undefined') {
          return {
            fa: true,
            'fa-exclamation-circle': this.currentInput.type === 'error',
            'fa-question-circle': this.currentInput.type === 'info',
            'fa-check-circle': this.currentInput.type === 'success',
          };
        }
      },
    },
    mounted() {},
    methods: {},
  };
</script>