<style lang="stylus">

</style>
<template>
    <div>this is template body</div>
</template>

<script type="text/babel">
  import { mapState, mapActions } from 'vuex';
  // import HeaderComponent from './components/header.vue'

  export default{
    props: [],
    data() {
      return {};
    },
    computed: {
      ...mapState(
        {
          global: state => state
        }
      ),
    },
    mounted() {

    },
    methods: {
      ...mapActions(
        []
      ),
      // HeaderComponent,
    },
  };
</script>