<template>
    <div class="hold-transition login-page">
        <div class=" login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>Admin</b>LTE</a>
            </div>
            <!-- /.login-logo -->
            <div class=" login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form @submit.prevent="$v.form.$invalid === false ? actionLogin({form: form}) : ''" novalidate>
                    <helpsBox forInput="email" :helps="helps">
                        <input type="email" class="form-control" id="email" name="email" @input="actionValidatedDelay({name: 'email', validate : $v.form.email})"

                               v-model="form.email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </helpsBox>
                    <helpsBox forInput="password" :helps="helps">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"  @input="actionValidatedDelay({name: 'password', validate : $v.form.password})"
                               v-model="form.password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </helpsBox>
                    <div class="row">
                        <div class="col-xs-8">
                            <div id="rememberMe" class="checkbox has-success">
                                <input type="checkbox" id="rememberMe" :checked="form.rememberMe == true">
                                <label>Remember Me</label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat"
                                    :disabled="loadings.isProcessing" @click="actionValidateSubmit($v.form)" >
                                Sign In
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-social btn-facebook btn-flat" @click="changeLngEn"><i
                            class="fa fa-facebook"></i>
                        Sign in using
                        Facebook</a>
                    <a href="#" class="btn btn-block btn-social btn-google btn-flat" @click="changeLngEs"><i
                            class="fa fa-google-plus"></i>
                        Sign in using
                        Google+</a>
                </div>
                <!-- /.social-auth-links -->

                <a href="#">I forgot my password</a><br>
                <a href="register.html" class="text-center">Register a new membership</a>

            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

    </div>
</template>
<script type="text/javascript">
  import { mapState, mapActions, mapGetters } from 'vuex';
  import { required, email } from 'vuelidate/lib/validators';
  import { validationMixin } from 'vuelidate';
  import locales from '../../langs/login';
  import helps from '../../components/helps/index.vue';
  import iCheckMixin from '../../mixins/icheck';
  import languagesMixin from '../../mixins/languagues';

  // import Flash from '../../helpers/flash';
  // import { post } from '../../helpers/api';

  export default {
    components: {
      'helpsBox': helps,
    },
    data() {
      return {
        form: {
          email: '',
          password: '',
          rememberMe: '',
        },
        loadings: {
          isProcessing: false,
        },
      };
    },
    validations: {
      form: {
        email: {
          required,
          email,

        },
        password: {
          required,
        },
      },
    },
    created() {
      this.initLanguages(locales);
      this.helpsInit(this.form);
    },
    computed: {
        /*      ...mapState('auths',
         {
         form: state => state.form,
         },
         ),*/
      ...mapState('helps',
        {
          helps: state => state,
        },
      ),
    },
    mounted() {
      this.iCheckMix('#rememberMe', 'form.rememberMe');
    },
    methods: {
      ...mapActions('auths',
        [
          'actionSetForm',
          'actionLogin',
        ],
      ),
      ...mapActions('helps',
        {
          helpsInit: 'init',
          actionValidatedDelay: 'actionValidatedDelay',
          actionValidateSubmit: 'actionValidateSubmit',
        },
      ),
      changeLngEn() {
        this.$i18n.locale = 'en';
      },
      changeLngEs() {
        this.$i18n.locale = 'es';
      },
    },
    mixins: [
      validationMixin,
      iCheckMixin,
      languagesMixin,
    ],
  };
</script>